@font-face {
  font-family: 'Eveleth Clean';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/EvelethCleanRegular.eot');
  src: url('../fonts/EvelethCleanRegular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/EvelethCleanRegular.svg#EvelethCleanRegular') format('svg'),
       url('../fonts/EvelethCleanRegular.ttf') format('truetype'),
       url('../fonts/EvelethCleanRegular.woff') format('woff');
}

/* cabin-regular - latin */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/cabin-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/cabin-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cabin-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cabin-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cabin-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cabin-v17-latin-regular.svg#Cabin') format('svg'); /* Legacy iOS */
}

/* cabin-700 - latin */
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/cabin-v17-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/cabin-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cabin-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cabin-v17-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cabin-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cabin-v17-latin-700.svg#Cabin') format('svg'); /* Legacy iOS */
}

/* cabin-italic - latin */
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/cabin-v17-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/cabin-v17-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cabin-v17-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cabin-v17-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cabin-v17-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cabin-v17-latin-italic.svg#Cabin') format('svg'); /* Legacy iOS */
}

/* cabin-700italic - latin */
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/cabin-v17-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/cabin-v17-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cabin-v17-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cabin-v17-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cabin-v17-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cabin-v17-latin-700italic.svg#Cabin') format('svg'); /* Legacy iOS */
}


