/* CSS grid styling */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 1em;
  max-width: 100%;
}

/* Flexbox styling */
.flex {
  display: flex;
  flex-wrap: wrap;
}

.flexColumn {
  flex-direction: column;
}

.alignStretch {
  align-items: stretch;
}

.alignCenter {
  align-items: center;
}

.alignBaseline {
  align-items: baseline;
}

.noWrap {
  flex-wrap: nowrap;
}

/* Height and width styling */

.fullHeight {
  min-height: 100vh;
}