:root {
  --color-black: #222;
  --color-white: #dbdbcf;
  --color-yellow: #fad74b;
  --color-orange: #fe9431;
  --color-red: #e3222a;
  --color-blue: #232d3e;
  --color-brown: #360a03;
  --color-sand: #a27d57;
}
