@import '../styles/media-queries.css';

.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 3em;
  padding: 1.5rem;
  background-size: cover;
  background-position: center;

  @media (--media-min-large) {
    grid-template-columns: 1fr 2fr;
    padding: 4rem;
  }

  @nest & button {
    margin-top: 2rem;
  }
}

.formWrapper {
  display: grid;
  font-family: var(--font-body-typeface);

  @nest & form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    & .firstName {
      grid-column: span 1;
      grid-row: 1;
    }

    & .lastName {
      grid-column: span 1;
      grid-row: 1;
    }

    & .email {
      grid-column: span 1;
      grid-row: 2;
    }

    & .phone {
      grid-column: span 1;
      grid-row: 2;
    }

    & label {
      text-transform: uppercase;
      letter-spacing: .1em;
      line-height: 1;

      & + input {
        margin-top: .5rem;
      }
    }

    & input {
      box-sizing: border-box;
      display: block;
      width: 100%;
      padding: 1em .75em;
      font-family: var(--font-body-typeface);
      font-size: inherit;
      border: none;
      border-radius: .25rem;
      transition: all 200ms ease;

      &:focus {
        outline: none;
        border-color: var(--color-brown);
        box-shadow: 0 0 0 2px var(--color-brown);
      }

      &::placeholder {
        color: var(--color-brown);
      }
    }

    & .interests {
      display: grid;
      grid-template-areas: "left right";

      & input[type=checkbox] {
        grid-area: right;
      }
      
      & label {
        grid-area: left;
      }
    }
  }
}

.title {
  composes: responsiveTitle2 from './typography.module.css';
  font-family: var(--font-header-typeface);
  text-transform: uppercase;
  text-align: center;
  color: var(--color-brown);
  margin: 0;

  @media (--media-min-large) {
    text-align: left;
  }
}