@import '../styles/media-queries.css';

.root {
  background-color: var(--color-blue);
  color: var(--color-white);
  letter-spacing: .1em;
  text-transform: uppercase;
}

.footerWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  box-sizing: border-box;
  padding: 1.5em;
  margin: 0 auto;

  @media (--media-min-small) {
    padding: 2em;
  }
}

.companyLogo {

  @nest & svg {
    width: 3rem;
    height: auto;

    @media (--media-min-medium) {
      width: 4rem;
    }
  }
}

.companyAddress {
  text-align: center;
  margin: 0 0 1rem;
}

.siteInfo {
  flex-basis: 100%;
  text-align: left;
  font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  margin: 1rem 0 0 0;

  @nest & a {
    color: inherit;
  }
}

.social {
  margin-left: auto;

  @nest & svg {
    width: 1.5rem;
    height: auto;
    padding-left: 1.5rem;
    fill: var(--color-yellow);
    transition: all 200ms ease;

    &:hover {
      fill: var(--color-orange);
    }

    &:first-child {
      padding-left: 0;
    }
  }

  @media (--media-min-medium) {
    @nest & svg {
    }
  }
}