@import '../styles/media-queries.css';
@import '../styles/vars.css';

.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 3rem;
  padding: 1.5em;
  background-size: cover;
  background-position: center;

  @media (--media-min-large) {
    grid-template-columns: 2fr 1fr;
    padding: 4em;
  }
}

.formWrapper {
  display: grid;
  font-family: var(--font-body-typeface);

  @nest & form {
    display: grid;
    grid-gap: 2rem;

    & .firstName {
      grid-column: span 1;
      grid-row: 1;
    }

    & .lastName {
      grid-column: span 1;
      grid-row: 1;
    }

    & .email {
      grid-column: span 2;
      grid-row: 2;
    }

    & label {
      text-transform: uppercase;
      letter-spacing: .1em;
    }

    & input {
      box-sizing: border-box;
      display: block;
      width: 100%;
      margin-top: .5rem;
      padding: 1rem .75rem;
      font-size: inherit;
      border: none;
      border-radius: .25rem;
    }
  }
}

.title {
  composes: responsiveTitle1 from './typography.module.css';
}