@import '../styles/media-queries.css';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.textBox {
  padding: 4em 8em;

  & a {
    filter: brightness(100%) drop-shadow(0 0.25rem 0.25rem rgba(0,0,0,.2));
  }
}

.title {
  composes: responsiveTitle1 from './typography.module.css';
  font-family: var(--font-header-typeface);
  letter-spacing: .2rem;
  color: var(--color-yellow);
  /* -webkit-text-fill-color: var(--color-white);
  -webkit-text-stroke-width: .05em;
  -webkit-text-stroke-color: var(--color-brown); */
  filter: drop-shadow(0 0.25rem 0.25rem rgba(0,0,0,.6));
}