@import '../styles/media-queries.css';

.root {
  padding: 2rem 2rem 0 2rem;

  @media (--media-min-medium) {
    padding: 4rem 4rem 0 4rem;
  }
}

.title {
  composes: responsiveTitle1 from './typography.module.css';
  text-transform: uppercase;
  font-family: var(--font-header-typeface);
}