@import '../styles/media-queries.css';

.root {
  position: relative;
  display: grid;
  grid-column: 1fr;
  grid-row: auto;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-position: center left;
  background-size: cover;

   @nest & > div {
    position: relative;
    overflow: hidden;
    width: 100vw !important;
    height: 100vh !important;

    & video {
      min-width: 100% !important;
      min-height: 100% !important;
      position: absolute;
      z-index: -1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
   }

    @nest & svg {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 40vmin;
      opacity: 0;
      animation: fadeOut ease 3s;
    }
}

@keyframes fadeOut {
  0% {opacity:.5;}
  50% {opacity:.5;}
  100% {opacity:0;}
}