@import '../styles/media-queries.css';
@import '../styles/vars.css';

.content {
  min-height: calc(100% - 16rem);
}

.footer {
  background-color: var(--color-blue);
  color: var(--color-white);
  letter-spacing: .1em;
  text-transform: uppercase;
}

.footerWrapper {
  box-sizing: border-box;
  padding: 1.5em;
  margin: 0 auto;

  @media (--media-min-small) {
    padding: 2em;
  }
}

.companyLogo {
}

.companyAddress {
  text-align: center;
  margin: 0 0 1rem;
}

.siteInfo {
  text-align: left;
  font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  margin: 1rem 0 0 0;

  @nest & a {
    color: inherit;
  }
}
